{% extends 'base.html.twig' %}

{% block title %}Edit Config{% endblock %}

{% block body %}

    <h1 class="h3 mb-4 text-gray-800">Konfiguration</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">Die hier getroffenen Einstellungen wirken sich Systemweit aus</div>
        <div class="card-body">
            {{ include('config/_form.html.twig') }} <a href="{{ path('dashboard') }}">back to list</a>
        </div>
    </div>


{% endblock %}
