{% extends 'base.html.twig' %}

{% block title %}Edit Customer{% endblock %}

{% block body %}
    <h1 class="h3 mb-4 text-gray-800">Kunde bearbeiten</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-flex justify-content-between">
                <h5 class="m-0 font-weight-bold text-primary">Details</h5>

                <form method="post" action="{{ path('customer_delete', {'id': customer.id}) }}" onsubmit="return confirm('Kunde wirklich löschen?');">
                    <button class="btn btn-danger btn-sm btn-icon-split">
                        <span class="icon text-white-50"><i class="fas fa-trash"></i></span>
                        <span class="text">Kunde Löschen</span>
                    </button>
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id) }}">
                </form>
            </div>
        </div>
        <div class="card-body">
            {{ include('customer/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
