<!DOCTYPE html>
<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Favicon -->
    <link href="{{ asset('favicon.ico') }}" rel="shortcut icon">
    {# Run `composer require symfony/webpack-encore-bundle` and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
        <!-- Bootstrap CSS -->
        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
        <!-- Bootstrap Bundle JS -->
        <script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    {% endblock %}
</head>
<body>

{% include 'navbar.html.twig' %}

<main class="container">

    {% block body %}{% endblock %}

</main>
</body>
</html>
